psutil
gputil
langchain_community
tiktoken
langchain-openai
langchainhub
langchain
pypdf
unstructured==0.6.1
faiss-gpu
lark
langchain-cohere
langchain-huggingface
transformers
bitsandbytes
accelerate
torch
sentence_transformers
umap-learn
scikit-learn